<template data-template="table">
  <table class="c-card group-table">
    <thead class="c-card__header">
      <tr>
        <th>Name</th>
        <th>Goals</th>
        <th>Assists</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</template>

<template data-template="row">
  <tr>
    <td class="player__details">
      <img data-field="crest" src="" alt="" width="24" height="18" class="crest">
      <p data-field="player"></p>
    </td>
    <td><p data-field="goals"></p></td>
    <td><p data-field="assists"></p></td>
  </tr>
</template>
