/* Buttons
========================================================================== */

  .family-member {
    font-size: var(--font-size-xs);
    font-weight: normal;
    line-height: 1;
  }

  .family-lozenge {
    display: flex;
    align-items: center;
    padding: var(--spacing-2xs) var(--spacing-s);
    display: none;
  }


