.family-member {
  font-size: var(--font-size-xs);
  font-weight: normal;
  line-height: 1;
}

family-member {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
  padding-block: var(--spacing-2xs);
}
