/* GLOBALS
===========================================
===========================================*/

football-fixtures,
football-results,
football-standings,
football-scorers {
  display: block;
}

body {
  background: repeat center top/100% url("/images/bg.png");
  backdrop-filter: blur(4px);
  background-color: var(--grey-900);
  color: var(--color-text);
  font-family: var(--font-base);
  font-optical-sizing: auto;
  font-size: var(--font-size-l);
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1.5em);
}

:is(h1, h2, h3, blockquote) {
  --flow-space: 1em;
}

:is(h1, h2, h3) + * {
  --flow-space: 1em;
}

.crest {
  box-shadow: 3px 3px 0 var(--black);
}

.family-icon {
  filter: drop-shadow(3px 3px 0 var(--black));
}

p {
  text-shadow: 3px 3px 0 var(--black);
}