/* HEADINGS
===========================================
===========================================*/

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--white);
  font-weight: 400;
  line-height: var(--line-height-xs);
  text-shadow: 3px 3px 0 var(--black);
  text-transform: uppercase;
}

h1 {
  font-family: var(--font-accent);
  font-size: var(--font-size-xl);

  background-color: var(--color-primary-500);
  padding: var(--spacing-s);

  border-top: 3px solid oklch(from var(--color-primary-500) calc(l * 1.3) c h);                                                                                                                                                                           
  border-left: 3px solid oklch(from var(--color-primary-500) calc(l * 1.3) c h);                                                                                                                                                                          
  border-right: 3px solid oklch(from var(--color-primary-500) calc(l * .7) c h);                                                                                                                                                                         
  border-bottom: 3px solid oklch(from var(--color-primary-500) calc(l * .7) c h); 
}

h2 {
  font-size: var(--font-size-l);
  font-weight: 500;
}

h3 {
  font-size: var(--font-size-base);
}

h4 {
  font-size: var(--font-size-s);
}
